<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <title>Todos</title> 
  </head>
  <body>
    <table border ="0">
      <tr>
          <td>Id</td>
          <td>Tarea</td>
          <td>Fecha</td>
          <td>Estado</td>
          <td>Estado</td>
      </tr>
      	<% @my_list.task_list.each do |task| %>
        <tr>
          <td><%="#{task.id}"%></td>
          <td><%="#{task.content}"%></td>
          <td><%="#{task.created_at.strftime("%x")}"%></td>
          <td><%="#{task.complete}"%></td>
          <td><%="#{task.update_content}"%></td>
        </tr>  
      <% end %>
    </table>

    <form action="/add_item" method="POST">
      <input type="text" name="task" placeholder="Add new Task.....">
      <button type="submit">Add</button>
    </form>

    <form action="/delete_item" method="POST">
      <input type="text" name="id" placeholder="Id task delete.....">
      <button type="submit">Delete</button>
    </form>

    <form action="/complete_task" method="POST">
      <input type="text" name="id" placeholder="Id task to complete.....">
      <button type="submit">Complete</button>
    </form>

    <form action="/change_task" method="POST">
      <input type="text" name="id" placeholder="Id task to change state.....">
      <button type="submit">Change State</button>
    </form>

    <form action="/change_content" method="POST">
      <input type="text" name="id" placeholder="Id task to change content.....">
      <input type="text" name="content" placeholder="New content.....">
      <button type="submit">Change Content</button>
    </form>

    <form action="/sort_A" method="POST">
      <button type="submit">Sort ASC</button>
    </form>

     <form action="/sort_B" method="POST">
      <button type="submit">Sort DES</button>
    </form>

     <form action="/save" method="POST">
      <button type="submit">Save</button>
    </form>

  </body>
</html>